body { /* Corpo da página */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black; /* Cor de fundo da página */
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#cadastro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh auto;
  width: 100%;
  max-width: 70vw;
  padding: 20px;
  background-image: linear-gradient(to bottom, #232f3e, #000);
  color: #fff;
  border-radius: 10px;
}

.campos {
  margin: 10px 0;
}

.id-form {
  font-size: 11px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
}

.form-cadastro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 10px;
  border-top-left-radius: 1px;
  outline: none;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  border-top-left-radius: 1px;
  outline: none;
}

.form-contato {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  border-top-left-radius: 1px;
  border-bottom-right-radius: 1px;
  outline: none;
}

.span-required {
  color: red;
  font-size: 10px;
  display: none;
}

textarea {
  resize: vertical;
}

title { /* Título da página */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
}

.verde { /* Cor do texto */
  color: rgba(44, 248, 112, 0.829);
  transition: 0.3s;
}

.verde:hover { /* Cor do texto ao passar o mouse */
  color: white;
  transition: 0.3s;
}

.branco { /* Cor do texto */
  color: white;
  transition: 0.3s;
}

.branco:hover { /* Cor do texto ao passar o mouse */
  color: rgba(44, 248, 112, 0.829);
  transition: 0.3s;
}

a { /* Cor do texto */
  color: #fff; /* Cor da fonte */
  text-decoration: none; /* Remover sublinhado */
  transition: 0.3s; /* Transição de cor */
}

a:hover { /* Cor do texto ao passar o mouse */
  color: #cccccc; /* Cor da fonte ao passar o mouse */
  transition: 0.3s; /* Transição de cor */
}

.conta {
  width: 30px;
  height: auto;
  background-color: #ccc;
  border-radius: 30px;
  transition: 0.3s;
}

.conta:hover {
  background-color: white;
  transition: 0.3s;
}

#slide {  /* Slide */
  width: 100%; /* Largura do slide */
  height: auto; /* Altura do slide */
  background-color: #ccc; /* Cor de fundo do slide */
  border-radius: 10px; /* Borda do slide */
}

.recomendados { /* Barra de navegação */
  background-color: #232f3e; /* Cor de fundo da barra */
  color: #fff; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  display: flex; /* Alinhamento dos itens */
  border-radius: 10px; /* Borda da barra */
}

.barra { /* Barra de navegação */
  background-color: #232f3e; /* Cor de fundo da barra */
  color: #fff; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  display: flex; /* Alinhamento dos itens */
  border-radius: 10px; /* Borda da barra */

  overflow-x: scroll; /* Barra de rolagem horizontal */
  overflow-y: hidden; /* Barra de rolagem vertical */
  white-space: nowrap; /* Não quebrar linha */
}

header { /* Cabeçalho */
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #232f3e;
  color: #fff;
  width: 100%;
  text-align: center;
  display: flex;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav ul { /* Lista de navegação */
  justify-content: center;
  margin: 0 5px;
  padding: 0;
  align-items: center;
  display: flex;
  list-style: none;
}

nav ul li { /* Itens da lista de navegação */
  margin: 0 10px;
  padding: 0 5px;
  display: inline-block;
}

nav ul li a { /* Links da lista de navegação */
  color: #fff;
  text-decoration: none;
}

.header_title { /* Cabeçalho */
  padding: 1%;
  justify-content: start;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
}

#title_link { /* Link do título */
  color: #fff;
  text-decoration: none;
}

section { /* Seção */
  margin: 4px;
}

.produtos { /* Produtos */
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  width: auto;
  margin: 10px;
  border-radius: 10px;
}

.imgproduto { /* Imagem do produto */
  width: auto;
  height: 150px;
  border-radius: 5px;
}

.nome-produto { /* Nome do produto */
  margin: 10px 0;
}

.preco { /* Preço do produto */
  font-weight: bold;
}

.default-button { /* Botão de pesquisa */
  padding: 4%;
  background-color: rgba(40, 250, 110, 0.808);
  color: rgb(26, 26, 26);
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.default-button:hover { /* Botão de pesquisa */
  padding: 4%;
  background-color: #07250ffa;
  color: #ccc;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

footer { /* Rodapé */
  background-color: #232f3e;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.search-bar { /* Barra de pesquisa */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  background-color: #232f3e;
  color: #fff;
  border-radius: 10px;
}

.search-bar input[type="text"] { /* Campo de texto */
  padding: 4%;
  width: auto;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-bar input[type="text"]:focus { /* Cor do campo de texto ao focar */
  outline: none;
}

.search-bar button { /* Botão de pesquisa */
  background-color: #ccc;
  color: #232f3e;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.3s;
}

.lupa { /* Ícone da lupa */
  width: 20px;
  height: auto;
}

.search-bar button:hover { /* Cor do botão ao passar o mouse */
  background-color: #384b61;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-color 0.3s;
  transition: 0.3s;
}

.acesso_rapido { /* Acesso rápido */
  background-color: #232f3e; /* Cor de fundo da barra */
  color: #fff; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  border-radius: 10px; /* Borda da barra */
}

.blocks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blocks-item {
  background-color: black;
  color: #232f3e;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  transition: 0.3s;
}

.blocks-item:hover {
  background-color: #07250ffa;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  transition: 0.3s;
}

.blocks-item h3 {
  margin: 0 0 10px;
}

.items-link {
  color: #ccc;
  text-decoration: none;
}

@media (max-width: 480px) {
  header {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  .header_title {
    font-size: 100%;
  }

  nav ul {
    justify-content: center;
    margin: 0 2px;
    padding: 0;
  }

  nav ul li {
    padding: 0 0px;
    font-size: small;
    margin: 0 5px;
  }

  .barra h1 {
    font-size: 18px;
  }

  .produtos {
    width: 80%;
    max-width: 280px;
    margin: 0 5px 0;
  }

  #imgproduto {
    width: 110px;
    height: auto;
  }

  .search-bar {
    flex-direction: row;
    align-items: center;
    transition: 0.3s;
  }

  .search-bar input[type="text"]{
    width: 50%;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s;
  }

  .search-bar button {
    width: 20%;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s;
  }

  .blocks-item {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  .header_title {
    font-size: 150%;
  }

  nav ul {
    font-size: 15px;
    justify-content: center;
    margin: 0 2px;
    padding: 0;
    transition: 0.3s;
  }

  nav ul li {
    padding: 0 0px;
    font-size: small;
    margin: 0 5px;
  }

  .produtos {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .search-bar {
    flex-direction: row;
    margin: 20px 0;
    border-radius: 10px;
    transition: 0.3s;
  }

  .search-bar input[type="text"]{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s;
  }
  
  .search-bar button {
    width: 20%;
    height: 30px;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s;
  }

  .blocks-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 1080px) {
  header {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  .header_title {
    font-size: 150%;
  }

  nav ul {
    justify-content: center;
    margin: 0 0px;
    padding: 0;
    transition: 0.3s;
  }

  nav ul li {
    padding: 0 0px;
    font-size: small;
    margin: 0 5px;
  }
}